<a href="https://colab.research.google.com/github/DataScienceEastAfrica/introductionToPythonCourse/blob/master/DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Data Structures**
#**Lists**

##**Python Collections (Arrays)**

**There are four collection data types in the Python programming language:**

**1. List is a collection which is ordered and changeable. Allows duplicate members.**

**2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.**

**3. Set is a collection which is unordered and unindexed. No duplicate members.**

**4. Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.**

###**When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.**

##**List**
###**A list is a collection which is ordered and changeable. In Python lists are written with square brackets.**

In [ ]:
# creating a list
thislist = ["apple", "banana", "cherry"]
print(thislist)

##**Access Items**
###**You access the list items by referring to the index number:**

In [ ]:
# print second item on the list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

##**Negative Indexing**

###**Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.**

In [ ]:
# print last item on the list
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

##**Range of Indexes**

###**You can specify a range of indexes by specifying where to start and where to end the range.**

###**When specifying a range, the return value will be a new list with the specified items.**

In [ ]:
#Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']



##**Note: The search will start at index 2 (included) and end at index 5 (not included).**

##**Remember that the first item has index 0.**

##**By leaving out the start value, the range will start at the first item:**

In [ ]:
#This returns the items from the beginning to "orange":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

##**By leaving out the end value, the range will go on to the end of the list:**

In [ ]:
#This example returns the items from "cherry" and to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

##**Range of Negative Indexes**

##**Specify negative indexes if you want to start the search from the end of the list:**

In [ ]:
#This returns the items from index -4 (included) to index -1 (excluded)
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

##**Change Item Value**
##**To change the value of a specific item, refer to the index number:**

In [ ]:
#Change the second item:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

##**Loop Through a List**

###**You can loop through the list items by using a for loop:**

In [ ]:
#Print all items in the list, one by one:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

##**Check if Item Exists**

###**To determine if a specified item is present in a list use the in keyword:**

In [ ]:
#Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

##**List Length**

###**To determine how many items a list has, use the len() function:**

In [ ]:
#Print the number of items in the list:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

##**Add Items**

###**To add an item to the end of the list, use the append() method:**

In [ ]:
#Using the append() method to append an item:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

##**To add an item at the specified index, use the insert() method:**

In [ ]:
#Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

##**Remove Item**

###**There are several methods to remove items from a list:**

In [ ]:
#The remove() method removes the specified item:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
#The pop() method removes the specified index, or the last item if index is not specified:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [ ]:
#The del keyword removes the specified index:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

In [ ]:
#The del keyword can also delete the list completely:
thislist = ["apple", "banana", "cherry"]
del thislist

In [ ]:
#The clear() method empties the list:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

##**Copy a List**

###**You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.**

In [ ]:
#Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
#Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

##**Join Two List**

###**There are several ways to join, or concatenate, two or more lists in Python.**

###**One of the easiest ways are by using the + operator.**

In [ ]:
#Join two list:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
#Use the extend() method to add list2 at the end of list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

##**The list() Constructor**

###**It is also possible to use the list() constructor to make a new list.**

In [ ]:
#Using the list() constructor to make a List:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

##**l)Tuples**
###**A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.**

In [ ]:
#Create a Tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

##**Access Tuple Items**

###**You can access tuple items by referring to the index number, inside square brackets:**

In [ ]:
#Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

##**Negative Indexing**

###**Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.**

In [ ]:
#Print the last item of the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

##**Range of Indexes**

###**You can specify a range of indexes by specifying where to start and where to end the range.**

###**When specifying a range, the return value will be a new tuple with the specified items.**

In [ ]:
#Return the third, fourth, and fifth item:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

###**Range of Negative Indexes**

###**Specify negative indexes if you want to start the search from the end of the tuple:**

In [ ]:
#This example returns the items from index -4 (included) to index -1 (excluded)
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

#**Change Tuple Values**

###**Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.**

###**But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.**

In [ ]:
Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

#**Loop Through a Tuple**

###**You can loop through the tuple items by using a for loop.**

In [ ]:
#Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

#**Check if Item Exists**

###**To determine if a specified item is present in a tuple use the in keyword:**

In [ ]:
#Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

#**Tuple Length**

In [ ]:
#Print the number of items in the tuple:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

#**Add Items**

##**Once a tuple is created, you cannot add items to it. Tuples are unchangeable.**

#**Create Tuple With One Item**

##**To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.**

In [ ]:
#One item tuple, remember the commma:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

#**Remove Items**

###**Note: You cannot remove items in a tuple.**

###**Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:**

In [ ]:
#The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

#**Join Two Tuples**

###**To join two or more tuples you can use the + operator:**

In [ ]:
#Join two tuples:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#**The tuple() Constructor**

###**It is also possible to use the tuple() constructor to make a tuple.**

In [ ]:
#Using the tuple() method to make a tuple:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

#**Tuple Methods**

###**Python has two built-in methods that you can use on tuples.**
###**Method 	Description**
###**count()	Returns the number of times a specified value occurs in a tuple**
###**index()	Searches the tuple for a specified value and returns the position of where it was found**

#**m)Sets**
##**Set**

###**A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.**

In [ ]:
#Create a Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

#**Access Items**

##**You cannot access items in a set by referring to an index, since sets are unordered the items has no index.**

##**But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.**

In [ ]:
#Loop through the set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

In [ ]:
#Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

#**Change Items**

###**Once a set is created, you cannot change its items, but you can add new items.**

#**Add Items**

###**To add one item to a set use the add() method.**

###**To add more than one item to a set use the update() method.**

In [ ]:
#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

In [ ]:
#Add multiple items to a set, using the update() method:
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

##**Length of a Set**

In [ ]:
#Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

##**Remove Item**

###**To remove an item in a set, use the remove(), or the discard() method.**

In [ ]:
#Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

###**Note: If the item to remove does not exist, remove() will raise an error.**

In [ ]:
#Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
#Remove the last item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset) 
## Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [ ]:
The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [ ]:
#The del keyword will delete the set completely:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

#**Join Two Sets**

###**There are several ways to join two or more sets in Python.**

###**You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:**

In [ ]:
#The union() method returns a new set with all items from both sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

##**Note: Both union() and update() will exclude any duplicate items.**

#**The set() Constructor**

##**It is also possible to use the set() constructor to make a set.**

In [ ]:
#Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)