<a href="https://colab.research.google.com/github/DataScienceEastAfrica/introductionToPythonCourse/blob/master/DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DATA TYPES
# **e) Data Types**

## **Built-in Data Types**

### *Variables can store data of different types*.

###**Python has the following data types built-in by default:**

**Text Type**    : 	str

**Numeric Types** : 	int, float, complex

**Sequence Types**: 	list, tuple, range

**Mapping Type**  : 	dict

**Set Types**    : 	set, frozenset

**Boolean Type**  : 	bool

**Binary Types**  : 	bytes, bytearray, memoryview

### **Getting the Data Type**

##**Setting the Data Type**

###*In Python, the data type is set when you assign a value to a variable:*

In [ ]:
x = "Hello World" 	#str
x = 20 	#int
x = 20.5 	#float
x = 1j 	#complex
x = ["apple", "banana", "cherry"] 	#list
x = ("apple", "banana", "cherry") 	#tuple 	
x = range(6) 	#range 	
x = {"name" : "John", "age" : 36} 	#dict 	
x = {"apple", "banana", "cherry"} 	#set 	
x = frozenset({"apple", "banana", "cherry"}) 	#frozenset 	
x = True 	#bool 	
x = b"Hello" 	#bytes 	
x = bytearray(5) 	#bytearray 	
x = memoryview(bytes(5)) 	#memoryview

## **Setting the Specific Data Type**
###*If you want to specify the data type, you can use the following constructor functions:*

In [ ]:
x = str("Hello World") 	#str 	
x = int(20) 	#int 	
x = float(20.5) 	#float 	
x = complex(1j) 	#complex 	
x = list(("apple", "banana", "cherry")) 	#list 	
x = tuple(("apple", "banana", "cherry")) 	#tuple 	
x = range(6) 	#range 	
x = dict(name="John", age=36) 	#dict 	
x = set(("apple", "banana", "cherry")) 	#set 	
x = frozenset(("apple", "banana", "cherry")) 	#frozenset 	
x = bool(5) 	#bool 	
x = bytes(5) 	#bytes 	
x = bytearray(5) 	#bytearray 	
x = memoryview(bytes(5)) 	#memoryview

# **f) Numbers**

##*There are three numeric types in Python:*

    int
    float
    complex

In [ ]:
x = 1    # int
y = 3.2  # float
z = 3j   # complex

###**To verify the type of any object in Python, use the type() function:**

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

##**Int**
###**Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.**

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

##**Float**

###**Float, or "floating point number" is a number, positive or negative, containing one or more decimals.**

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

###**Float can also be scientific numbers with an "e" to indicate the power of 10.**

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

##**Complex**
###**Complex numbers are written with a "j" as the imaginary part:**

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

##**Type Conversion**

###**You can convert from one type to another with the int(), float(), and complex() methods:**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

##**Note: You cannot convert complex numbers into another number type.**

##**Random Number**

###**Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:**

In [ ]:
import random

print(random.randrange(1, 10))

8

#**g) Casting**
##**Specify a Variable Type**

###*There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.*

**Casting in python is therefore done using constructor functions:**

    int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
    float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
    str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
#integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
#float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
#string
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

#**h) Strings**
##**String Literals**
###**String literals in python are surrounded by either single quotation marks, or double quotation marks.**

In [ ]:
print("Hello")
print('Hello')

##**Assign String to a Variable**
###**Assigning a string to a variable is done with the variable name followed by an equal sign and the string:**

In [ ]:
a = "Hello"
print(a)

##**Multiline Strings**

###**You can assign a multiline string to a variable by using three quotes:**

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

##**Or three single quotes:**

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

##**Strings are Arrays**
###**strings in Python are arrays of bytes representing unicode characters.**
###**However, Python does not have a character data type, a single character is simply a string with a length of 1.**

###**Square brackets can be used to access elements of the string.**

In [ ]:
#Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

##**Slicing**
###**You can return a range of characters by using the slice syntax.**

###**Specify the start index and the end index, separated by a colon, to return a part of the string.**

In [ ]:
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

##**Negative Indexing**
###**Use negative indexes to start the slice from the end of the string:**

In [ ]:
#Get the characters from position 5 to position 1 (not included), starting the count from the end of the string:
b = "Hello, World!"
print(b[-5:-2])

orl

##**String Length**
###**To get the length of a string, use the len() function.**

In [ ]:
#The len() function returns the length of a string:
a = "Hello, World!"
print(len(a))

13

##**String Methods**
###**Python has a set of built-in methods that you can use on strings.**

In [ ]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
#The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
#The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

##**Check String**
##**To check if a certain phrase or character is present in a string, we can use the keywords in or not in.**

In [ ]:
#Check if the phrase "ain" is present in the following text:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [ ]:
#Check if the phrase "ain" is NOT present in the following text:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

##**String Concatenation**
###**To concatenate, or combine, two strings you can use the + operator.**

In [ ]:
#Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
#To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

##**we can combine strings and numbers by using the format() method!**

##**The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:**

In [ ]:
#Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

##**Escape Character**
###**To insert characters that are illegal in a string, use an escape character.**
**An escape character is a backslash \ followed by the character you want to insert.**
**An example of an illegal character is a double quote inside a string that is surrounded by double quotes:**

In [ ]:
#The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

##**i)Booleans**
###**Booleans represent one of two values: True or False.**

##**Boolean Values**

###**In programming you often need to know if an expression is True or False.You can evaluate any expression in Python, and get one of two answers, True or False.When you compare two values, the expression is evaluated and Python returns the Boolean answer:**

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
#When you run a condition in an if statement, Python returns True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

##**Evaluate Values and Variables**

In [ ]:
#The bool() function allows you to evaluate any value, and give you True or False in return,
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

##**Most Values are True**

> **Almost any value is evaluated to True if it has some sort of content.**

> **Any string is True, except empty strings.**

> **Any number is True, except 0.**

> **Any list, tuple, set, and dictionary are True, except empty ones.**

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

##**Some Values are False**

###**In fact, there are not many values that evaluates to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.**

In [ ]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

###**One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:**

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

##**Functions can Return a Boolean**
**You can create functions that returns a Boolean Value:**

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

###**You can execute code based on the Boolean answer of a function:**

In [ ]:
#Print "YES!" if the function returns True, otherwise print "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

###**Python also has many built-in functions that returns a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:**

In [ ]:
x = 200
print(isinstance(x, int))

#**j) Operators**
##**Python Operators**


> Python divides the operators in the following groups:



    Arithmetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identity operators
    Membership operators
    Bitwise operators

##**Arithmetic Operators**

In [ ]:
# + 	Addition 	x + y 	
a = 10 + 5
# - 	Subtraction 	x - y 
a = 10 - 5	
# * 	Multiplication 	x * y 	
a = 10 * 5
# / 	Division 	x / y 	
a = 10 / 5
# % 	Modulus 	x % y 	
a = 10 % 5
# ** 	Exponentiation 	x ** y 	
a = 10 ** 5
# // 	Floor division 	x // y
a = 10 // 5

##**Assignment Operators**
###**Assignment operators are used to assign values to variables:**

In [ ]:
# = 	
x = 5 	

x = 5 	

# += 	
x += 3 	

x = x + 3 	

# -= 	
x -= 3 	

x = x - 3 	

# *= 	
x *= 3 	

x = x * 3 	

# /= 	
x /= 3 	

x = x / 3 	

# %= 	
x %= 3 	

x = x % 3 	

# //= 	
x //= 3 	

x = x // 3 	

# **= 	
x **= 3 	

x = x ** 3 	

# &= 	
x &= 3 	

x = x & 3 	

# |= 	
x |= 3 	

x = x | 3 	

# ^= 	
x ^= 3 	

x = x ^ 3 	

# >>= 	
x >>= 3 	

x = x >> 3 	

# <<= 	
x <<= 3 	

x = x << 3

##**Comparison Operators**
###**Comparison operators are used to compare two values:**

In [ ]:
# == 	Equal 	
x == y 	
# != 	Not equal 	
x != y 	
#> 	Greater than 	
x > y 	
#< 	Less than 	
x < y 	
#>= 	Greater than or equal to 	
x >= y 	
#<= 	Less than or equal to 	
x <= y

True

##**Logical Operators**
###**Logical operators are used to combine conditional statements:**

In [ ]:
#and  	Returns True if both statements are true 	
x < 5 and  x < 10 	
#or 	Returns True if one of the statements is true 	
x < 5 or x < 4 	
#not 	Reverse the result, returns False if the result is true 	
not(x < 5 and x < 10)

True

##**Identity Operators**
###**Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:**

In [ ]:
#is  	Returns True if both variables are the same object 	
x is y 	
#is not 	Returns True if both variables are not the same object 	
x is not y

True

##**Membership Operators**
###**Membership operators are used to test if a sequence is presented in an object:**

In [ ]:
# in  	| Returns True if a sequence with the specified value is present in the object 	
x = 1
y = [1,2,4,3]
x in y 	

# not in |	Returns True if a sequence with the specified value is not present in the object 	
x not in y

False

##**Bitwise Operators**
###**Bitwise operators are used to compare (binary) numbers:**

In [ ]:
# &  	AND 	
#Sets each bit to 1 if both bits are 1

# | 	OR 	
#Sets each bit to 1 if one of two bits is 1

# ^ 	XOR 	
#Sets each bit to 1 if only one of two bits is 1

# ~  	NOT 	
#Inverts all the bits

# << 	Zero fill left 
#shift 	Shift left by pushing zeros in from the right and let the leftmost bits fall off

#>> 	Signed right shift 	
#Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off