<a href="https://colab.research.google.com/github/DataScienceEastAfrica/introductionToPythonCourse/blob/master/introductiontopython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This course has borrowed from other resources and tries to make your learning as smoooth as possible:

Course outline


## **Introduction**
a) Getting started

b) Syntax

c) Comments

d) Variables

## **Data Types**

e) Data Types

f) Numbers

g) strings

h) casting

i) Booleans 

j) operators


## **Data structures**

k) List

l) Tuples

m) Sets

n) Dictionaries

## **Control flow tools/Loops**

o) If....Else

p) While Loops

q) For Loops

## **Functions**

r) Functions

s) Lambda

# **Introduction to Python**

Python is a popular programming language. It was created by **Guido van Rossum**, and released in 1991.

### **It is used for**:

    web development (server-side),
    software development,
    mathematics,
    system scripting.

###**What can Python do?**

    Python can be used on a server to create web applications.
    Python can be used alongside software to create workflows.
    Python can connect to database systems. It can also read and modify files.
    Python can be used to handle big data and perform complex mathematics.
    Python can be used for rapid prototyping, or for production-ready software development.

###**Why Python?**

    Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
    Python has a simple syntax similar to the English language.
    Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
    Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
    Python can be treated in a procedural way, an object-orientated way or a functional way.

###**Good to know**

    The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
    In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

###**Python Syntax compared to other programming languages**

    Python was designed for readability, and has some similarities to the English language with influence from mathematics.
    Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
    Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

# a) **Getting started**

Make sure that Python is installed in ur system.


    python --version 

if you do not have python installed on your computer you can download it by going to:
    
>  https://www.python.org/

make sure that you have python 3 installed we will you it throught this course.(python is free)

Write your first code its really easy go to ur terminal if you are in linux or Bash if you are in windows and type: 

```
python 
```

```
david@david-Inspiron:~/Desktop/datascience$ python

Python 2.7.17 (default, Jul 20 2020, 15:37:01) 
[GCC 7.5.0] on linux2
Type "help", "copyright", "credits" or "license" for more information.
>>> print("Hello, World!")
Hello, World! 
```

```
exit() 
```
or ctrl+z

In [ ]:
 print("Hello, World!")

Hello, World!

In [ ]:
#you can create a python file using the .py file extension, and running it in the Command Line:



```
C:\Users\Your Name>python myfile.py 
```

# b) **Syntax**

## **Indentation**

```
Indentation refers to the spaces at the beginning of a code line.
Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.
Python uses indentation to indicate a block of code.
```

In [ ]:
if 10 > 1:
  print("Ten is greater than one!")

Ten is greater than one!



```
Python will give you an error if you skip the indentation:
```

In [ ]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: ignored

## **Variables**

*In Python, variables are created when you assign a value to it*:

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
print(x)

5

In [ ]:
print(y)

Hello, World!





## **Comments**


*Python has commenting capability for the purpose of in-code documentation*.

*Comments start with a #, and Python will render the rest of the line as a comment*:

In [ ]:
#This is a comment.
print("Hello, World!")

Hello, World!

#  **c) Comments**

```
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.
```

## **Creating a Comment**

*Comments starts with a #, and Python will ignore them:*

In [ ]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
#Comments can be placed at the end of a line, and Python will ignore the rest of the line:*

In [ ]:
 print("Hello, World!") #This is a comment

Hello, World!

### **Comments can also be used to prevent Python from executing code:**

In [ ]:
#print("Hello, World!")
print("Hello, there !")

### **Multi Line Comments**

*Python does not really have a syntax for multi line comments*.

*To add a multiline comment you could insert a # for each line:*

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

### **Or you can use a multiline string.**

**Since Python will ignore string literals that are not assigned to a variable**, *you can add a multiline string (triple quotes) in your code, and place your comment inside it*:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# d)  **Variables**

## **Creating Variables**

**Variables are containers for storing data values.**
*Unlike other programming languages, **Python has no command for declaring a variable**.*
*A variable is created the moment you first assign a value to it.*

In [ ]:
x = 5
y = "Kinyua"
print(x)
print(y)

5
Kinyua

### **Variables do not need to be declared with any particular type and can even change type after they have been set.** **bold text**

In [ ]:
x = 4 # x is of type int
x = "Joan" # x is now of type str
print(x)

Joan

### **String variables can be declared either by using single or double quotes:**

In [ ]:
x = "David"
# is the same as
x = 'Kmani'

### **Variable Names**

### **A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume)**.

### **Rules for Python variables**:

    1.A variable name must start with a letter or the underscore character
    2.A variable name cannot start with a number
    3.A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
    4.Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
#2myvar = "John"
#my-var = "John"
#my var = "John"

### **Assign Value to Multiple Variables**

In [ ]:
x, y, z = "Nairobi", "Mombasa", "Kisumu"
print(x)
print(y)
print(z)

Nairobi
Mombasa
Kisumu

### **You can also assign the same value to multiple variables in one line:**

In [ ]:
 x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

### **Output Variables**

*The Python print statement is often used to output variables.*

In [ ]:
x = "Cool"
print("Lux academy is " + x)

Lux academy is Cool

### **To combine both text and a variable, Python uses the + character:**

### **You can also use the + character to add a variable to another variable:**

In [ ]:
x = "Nairobi is "
y = "the capital city of kenya"
z =  x + y
print(z)

Nairobi is the capital city of kenya

### **For numbers, the + character works as a mathematical operator:**

In [ ]:
x = 100
y = 465
print(x + y)

565

### **If you try to combine a string and a number, Python will give you an error:**

In [ ]:
x = 20
y = "David"
print(x + y)

TypeError: ignored

## **Global Variables**

**Variables that are created outside of a function (as in all of the examples above) are known as global variables.**

**Global variables can be used by everyone, both inside of functions and outside.**

In [ ]:
#Create a variable outside of a function, and use it inside the function

x = "Cool"

def myfunc():
  print("Lux academy is " + x)

myfunc()

Lux academy is Cool

**If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.** *italicized text*

In [ ]:
#Create a variable inside a function, with the same name as the global variable
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Lux academy is " + x)

myfunc()

print("Lux academy is " + x)

Lux academy is fantastic
Lux academy is awesome

## **The global Keyword**

**Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.**

**To create a global variable inside a function, you can use the global keyword.** **bold text**

In [ ]:
#When the global keyword is used, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Lux academy is " + x)

Lux academy is fantastic

**Also, use the global keyword if you want to change a global variable inside a function.**

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Lux academy is " + x)

Lux academy is fantastic

# DATA TYPES
# **e) Data Types**

## **Built-in Data Types**

### *Variables can store data of different types*.

###**Python has the following data types built-in by default:**

**Text Type**    : 	str

**Numeric Types** : 	int, float, complex

**Sequence Types**: 	list, tuple, range

**Mapping Type**  : 	dict

**Set Types**    : 	set, frozenset

**Boolean Type**  : 	bool

**Binary Types**  : 	bytes, bytearray, memoryview

### **Getting the Data Type**

In [ ]:
#Print the data type of the variable x:
x = 5
print(type(x))

##**Setting the Data Type**

###*In Python, the data type is set when you assign a value to a variable:*

In [ ]:
x = "Hello World" 	#str
x = 20 	#int
x = 20.5 	#float
x = 1j 	#complex
x = ["apple", "banana", "cherry"] 	#list
x = ("apple", "banana", "cherry") 	#tuple 	
x = range(6) 	#range 	
x = {"name" : "John", "age" : 36} 	#dict 	
x = {"apple", "banana", "cherry"} 	#set 	
x = frozenset({"apple", "banana", "cherry"}) 	#frozenset 	
x = True 	#bool 	
x = b"Hello" 	#bytes 	
x = bytearray(5) 	#bytearray 	
x = memoryview(bytes(5)) 	#memoryview

## **Setting the Specific Data Type**
###*If you want to specify the data type, you can use the following constructor functions:*

In [ ]:
x = str("Hello World") 	#str 	
x = int(20) 	#int 	
x = float(20.5) 	#float 	
x = complex(1j) 	#complex 	
x = list(("apple", "banana", "cherry")) 	#list 	
x = tuple(("apple", "banana", "cherry")) 	#tuple 	
x = range(6) 	#range 	
x = dict(name="John", age=36) 	#dict 	
x = set(("apple", "banana", "cherry")) 	#set 	
x = frozenset(("apple", "banana", "cherry")) 	#frozenset 	
x = bool(5) 	#bool 	
x = bytes(5) 	#bytes 	
x = bytearray(5) 	#bytearray 	
x = memoryview(bytes(5)) 	#memoryview

# **f) Numbers**

##*There are three numeric types in Python:*

    int
    float
    complex

In [ ]:
x = 1    # int
y = 3.2  # float
z = 3j   # complex

###**To verify the type of any object in Python, use the type() function:**

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

##**Int**
###**Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.**

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

##**Float**

###**Float, or "floating point number" is a number, positive or negative, containing one or more decimals.**

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

###**Float can also be scientific numbers with an "e" to indicate the power of 10.**

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

##**Complex**
###**Complex numbers are written with a "j" as the imaginary part:**

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

##**Type Conversion**

###**You can convert from one type to another with the int(), float(), and complex() methods:**

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

##**Note: You cannot convert complex numbers into another number type.**

##**Random Number**

###**Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:**

In [ ]:
import random

print(random.randrange(1, 10))

8

#**g) Casting**
##**Specify a Variable Type**

###*There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.*

**Casting in python is therefore done using constructor functions:**

    int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
    float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
    str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
#integers
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [ ]:
#float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
#string
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

#**h) Strings**
##**String Literals**
###**String literals in python are surrounded by either single quotation marks, or double quotation marks.**

In [ ]:
print("Hello")
print('Hello')

##**Assign String to a Variable**
###**Assigning a string to a variable is done with the variable name followed by an equal sign and the string:**

In [ ]:
a = "Hello"
print(a)

##**Multiline Strings**

###**You can assign a multiline string to a variable by using three quotes:**

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

##**Or three single quotes:**

In [ ]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

##**Strings are Arrays**
###**strings in Python are arrays of bytes representing unicode characters.**
###**However, Python does not have a character data type, a single character is simply a string with a length of 1.**

###**Square brackets can be used to access elements of the string.**

In [ ]:
#Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

##**Slicing**
###**You can return a range of characters by using the slice syntax.**

###**Specify the start index and the end index, separated by a colon, to return a part of the string.**

In [ ]:
#Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

llo

##**Negative Indexing**
###**Use negative indexes to start the slice from the end of the string:**

In [ ]:
#Get the characters from position 5 to position 1 (not included), starting the count from the end of the string:
b = "Hello, World!"
print(b[-5:-2])

orl

##**String Length**
###**To get the length of a string, use the len() function.**

In [ ]:
#The len() function returns the length of a string:
a = "Hello, World!"
print(len(a))

13

##**String Methods**
###**Python has a set of built-in methods that you can use on strings.**

In [ ]:
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
#The lower() method returns the string in lower case:
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
#The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
#The replace() method replaces a string with another string:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

##**Check String**
##**To check if a certain phrase or character is present in a string, we can use the keywords in or not in.**

In [ ]:
#Check if the phrase "ain" is present in the following text:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [ ]:
#Check if the phrase "ain" is NOT present in the following text:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

##**String Concatenation**
###**To concatenate, or combine, two strings you can use the + operator.**

In [ ]:
#Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
#To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
#we cannot combine strings and numbers like this:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

##**we can combine strings and numbers by using the format() method!**

##**The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:**

In [ ]:
#Use the format() method to insert numbers into strings:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

##**Escape Character**
###**To insert characters that are illegal in a string, use an escape character.**
**An escape character is a backslash \ followed by the character you want to insert.**
**An example of an illegal character is a double quote inside a string that is surrounded by double quotes:**

In [ ]:
#The escape character allows you to use double quotes when you normally would not be allowed:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

##**i)Booleans**
###**Booleans represent one of two values: True or False.**

##**Boolean Values**

###**In programming you often need to know if an expression is True or False.You can evaluate any expression in Python, and get one of two answers, True or False.When you compare two values, the expression is evaluated and Python returns the Boolean answer:**

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
#When you run a condition in an if statement, Python returns True or False:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

##**Evaluate Values and Variables**

In [ ]:
#The bool() function allows you to evaluate any value, and give you True or False in return,
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

##**Most Values are True**

> **Almost any value is evaluated to True if it has some sort of content.**

> **Any string is True, except empty strings.**

> **Any number is True, except 0.**

> **Any list, tuple, set, and dictionary are True, except empty ones.**

In [28]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

##**Some Values are False**

###**In fact, there are not many values that evaluates to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.**

In [29]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

###**One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:**

In [30]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

##**Functions can Return a Boolean**
**You can create functions that returns a Boolean Value:**

In [31]:
def myFunction() :
  return True

print(myFunction())

True

###**You can execute code based on the Boolean answer of a function:**

In [32]:
#Print "YES!" if the function returns True, otherwise print "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

###**Python also has many built-in functions that returns a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:**

In [ ]:
x = 200
print(isinstance(x, int))

#**j) Operators**